* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #eee;
}

.moldura {
    width: 80%;
    border: #111 2px solid;
    padding: 20px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: #11111154 3px 3px 4px;
}

.titulo {
    color: #111;
    font-size: 2rem;
    padding: 25px;
    border-bottom: #111 2px solid;
    margin: 100px;
}

.projetos {
    list-style-type: none;
    display: block;
}

.itens {
    border-top: #111 1px dashed;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
}

.itens:hover {
    background-color: #111;
    border-color: #eee;
    transition: 0.5s;
}