@import url("resources.css");

body {
  background: linear-gradient(to bottom, var(--black), var(--lead));
  color: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.btn-primary {
  background-color: var(--second-color);
  border: none;
}

.bg-light {
  background: linear-gradient(to top, var(--cream), var(--white)) !important;
}
.bg-gray-black {
  background: linear-gradient(to top, var(--black), var(--lead)) !important;
}

/*navbar*/

#headerLogo {
  width: 60px;
}

.nav-link {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--main-color-dark);
  transition: 0.5s;
}

/*caroseul*/

#myCarousel {
  width: fit-content;
  height: fit-content;
}

@media screen and (max-width: 1000px) {
  #myCarousel {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  #myCarousel {
    width: 100%;
  }
}
.carousel-inner {
  border-radius: 20px;
  box-shadow: 2px 2px 4px #252525ad;
}

.caroseulTxt {
  background-color: #35353535;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--second-font);
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--cream);
  transition: 0.5s;
}

.caroseulTxt:hover {
  color: var(--second-color);
  transition: 0.5s;
}

.caroseulImg {
  width: 40rem;
  height: 25rem;
}

/*Second Caroseul*/
#secondCaroseul .carousel-indicators li {
  background-color: #bbb;
  border-color: #bbb;
}

#secondCaroseul .carousel-indicators .active {
  background-color: #333;
  border-color: #333;
}

/*Cards*/

.card {
  background-color: transparent;
  border: none;
  
}

.card-body {
  background-color: var(--cream);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 4px #252525ad;
}

.card-title {
  color: var(--main-color-dark);
  font-family: var(--second-font);
}

.card-text {
  color: var(--grafite);
  font-family: var(--main-font);
}

.card-img-top {
  height: 15rem;
  box-shadow: 2px 2px 4px #252525ad;
}

.card-img-top-lg {
  height: 20rem;
}

.card-lg {
  width: 40rem;
}


/*highlight*/

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--main-color-dark);
  transition: 0.5s;
}