h1 {
   
    left: 6.96%;
    right: 67.58%;
    top: 53.7%;
    bottom: 44.13%;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}

.copo {
    width: 50%;
    left: 6.3%;
    right: 49.95%;
    top: 59.72%;
    bottom: 17.75%;
}

.ingredi {
  
    left: 58.54%;
    right: 23.75%;
    top: 28.18%;
    bottom: 66.05%;

}

.ingret {
   
    left: 58.26%;
    right: 23.06%;
    top: 26.04%;
    bottom: 73.03%;


}