@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Montserrat Alternates', sans-serif;
    --main-color: #FDCE5D;
    --main-color-dark: #d69a0d;
    --second-color: #A81E1E;
    --black: #252525;
    --grafite: #353535;
    --cream: #d9d9d9;
    --white: #eaeaea;
}