@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    --main-font: 'Rubik Iso', cursive;
    --second-font: 'VT323', monospace;
    --main-color: #20ccbb;
    --main-color-2: #20eedd;
    --main-color-3: #20aa99;
    --second-color: #20cc20;
    --second-color-2: #20ee20;
    --second-color-3: #20aa20;
    --black: #252525;
    --white: #d9d9d9;
}
