@import url('exemples.css');

body {
    background-color: #353535;
}

#welcomeBg {
}

#welcomeMsg {
    font-size: 4rem;
    color: var(--second-color);
    font-family: var(--main-font);
}

#welcomeTxt {
    font-size: 2rem;
    color: var(--black);
    font-family: var(--second-font);
}
