@import url('exemples.css');

body {
    background: linear-gradient(to bottom, #b93e3e, #571717);
}

#welcomeMsg {
    font-size: 4rem;
    color: var(--second-color);
    font-family: var(--main-font);
}

#welcomeTxt {
    font-size: 2rem;
    color: var(--black);
    font-family: var(--second-font);
}
